/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 36px;
}

header p {
    margin: 0;
    font-size: 18px;
}

.main {
    display: flex;
}

.container1,
.container2 {
    width: 50vw;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

section h2 {
    color: #007BFF;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.project {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
}